/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/* Se num importar a fonte, não vai né jão.... */

/* Estilos gerais */
* {
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
    font-family: 'Inter';    
    text-align: center;    
    transition: transform .2s;
    flex-wrap: wrap;

    font-size: 12px;    
}

a {
    text-decoration: none;
    color: #000000;
}


/* teste começa  sumir com o espaçamento bizarro na borda de baixo*/


.slick-slider, .slick-track, .slick-slide, .slick-slide > div {
    margin: 0 !important;
    padding: 0 !important;
}


/* fim teste */

/* Nav header */
.nav-topo {
    display: flex;
    align-items: center; 
    flex-wrap: wrap;
    background-color: #fff;
    max-width: 100%;
    overflow: hidden;
    margin-bottom: 8px;
    margin-top: 8px;
}

.nav-topo .nav-item {
    margin-right: 30px; /* Espaçamento à direita entre os itens */
}

.nav-topo .nav-item:last-child {
    margin-right: 0; /* Remove o espaçamento do último item */
}

/* Itens da navegação */
.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 166px;
    height: 38px;
    margin: 10px;    
    padding: 0 15px;
    border-radius: 12px;
    border: solid 1px #e0e0e0;
    background-color: #fafafa;
    text-align: center;
    font-size: 14px;
    color: #333;
    white-space: nowrap;
}



.nav-item a {
    text-decoration: none;
    color: inherit;
}

.nav-item:hover {
    background-color: #e0e0e0;
    color: #0056b3;
}

@media screen and (max-width: 1199.9px) {
    .nav-topo .nav-item {
      margin: 0.25rem;
    }
}
  
@media only screen and (max-width: 991px) {
    .nav-topo .nav-item {
      max-width: 100%;
    }
}

/* Estilização da área de PesquisaSite */
.PesquisaSite {
    display: flex;
    align-items: center;
}

.form-control {
    flex: 1;    
    height: 38px;
    padding: 0 10px;
    border: 1px solid #e0e0e0;
    border-right: none;
    border-radius: 12px 0 0 12px;
    background-color: #fafafa;
}

.form-control::placeholder {
    color: #888;
}

.form-control:focus {
    outline: none;
    border-color: #0277bd;
}

.btn-search {
    height: 38px;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 12px 12px 0;
    border: 1px solid #e0e0e0;
}

.btn-search:hover {
    background-color: #f0f0f0;
    /* Leve mudança de cor ao passar o mouse */
}

.btn-search:active {
    background-color: #e0e0e0;
    transform: scale(0.98);
    /* Simula um clique com leve encolhimento */
}

.btn-search:hover .loupe-icon {
    transform: scale(1.1);
    /* Amplia a lupa ao passar o mouse */
}

.loupe-icon {
    max-width: 16px;
    max-height: 16px;
    display: block;
    margin: auto;
}

/* Efeito hover */
.form-control:hover,
.btn-search:hover {
    background-color: #f0f0f0;
}

/* Ajustes de responsividade para resoluções menores */
@media (max-width: 1145px) {
    .nav-topo {
        justify-content: flex-start;
    }

    .nav-item {
        margin: 5px;
        padding: 0 10px;
        width: 100%;
    }

    .PesquisaSite {
        max-width: 100%;
    }
}

/* Ajustes para resoluções maiores */
@media (min-width: 1145px) {
    .nav-topo {
        justify-content: center;
        padding: 0 20px;
    }

    .nav-item {
        margin: 5px;
        padding: 0 10px;
        width: auto;
    }

    .PesquisaSite {
        flex-grow: 0;
        max-width: 166;
        margin-left: auto;
    }
}

.nav-item:last-child {
    border: none;
    background-color: initial;
    /* remove a bagaceira bugada da ultima coluna */
    margin-left: 0;
}

.nav-item:last-child:hover {
    background-color: initial;
    color: inherit;
    margin-left: 0;
}

.PesquisaSite:hover {
    background-color: transparent;
    color: inherit;
}




/* bobera pra deixar botão PesquisaSiter inato para digitar sem nenhuma sombra interna */

.PesquisaSite:focus-within .form-control,
.PesquisaSite:focus-within .btn-search {
    background-color: #fafafa;
    /* Mantém a cor de fundo original */
    color: #333;
    /* Mantém a cor do texto original */
    border-color: #e0e0e0;
    /* Mantém a cor da borda original */
    box-shadow: none;
    /* Remove qualquer sombra de foco se existir */
}

/* Garante que o hover não ative para o botão enquanto o formulário estiver em foco */
.PesquisaSite:focus-within .btn-search:hover {
    background-color: #fafafa;
    /* Restaura a cor de fundo original */
    color: #333;
    /* Restaura a cor do texto original */
    box-shadow: none;
    /* Remove qualquer sombra de hover se existir */
}

/* Garante que o hover não ative para o campo de input enquanto o formulário estiver em foco */
.PesquisaSite:focus-within .form-control:hover {
    background-color: #fafafa;
    /* Restaura a cor de fundo original */
    color: #333;
    /* Restaura a cor do texto original */
    border-color: #e0e0e0;
    /* Restaura a cor da borda original */
}


/* <<<< -- marcação 1 , acima é o header --- >>>> */


.container-maior {
    display: flex;
    justify-content: center; 
    align-items: center;     
    width: 100%;
    height: 100%;    
     
    
}

.blocoMaior{
    width: 100%;
    padding: 0;
    margin: 0;
    
}


/* <<<<<<<<<< Marcação 2>>>> */

.containerMenu-superior {
      
    background-color: #01579b;
    width: 100%;
    display: flex;
    /* justify-content: space-between;  */
    margin: 0 auto; 
    border-top-left-radius: 15px;    
    border-top-right-radius: 15px;
       
}

.containerMenu-superior > div {
    flex: 0 1 auto; /* Permite que os itens ocupem o espaço necessário */
    min-width: 150px; 
    margin: 0 15px; /* Margens laterais para espaçamento */
}



.containerMenu-superior .rowMenu-superior  {
    /* margin-top: 16px;  */
    text-align: center;   
}

.botaoMenuSuperior, .botaoMenuSuperiorLogo{ 
    display:inline-block; 
    background-color: #fff;
    border-radius: 25px;  
    margin-top: 16px;    
    padding-top: 10px;
    padding-bottom: 10px;    
    min-width: 30px;
        
}

.botaoMenuSuperiorLogo{
    margin-right: 20px;
}

.botaoMenuSuperior img , .botaoMenuServicos img{
    margin: 0 auto;  
    width: 28px; 
    height: 28px; 
    object-fit: cover; 

    transition: filter 0.2s ease;  
}


.tituloSuperior{
    border-radius: 24px;  
    font-weight: bold;  
    margin: 10px 0; /* Define margem superior e inferior uniformemente */
    font-size: 16px;    

}

.tituloSuperior:hover path img.img-fluid{
    text-align: center;
    margin: auto;
}


/* teste */
.botaoMenuSuperior:hover .tituloSuperior, .botaoMenuSuperior:active .tituloSuperior, .botaoMenuSuperior:hover path, 
.botaoMenuServicos:hover .tituloSuperior, .botaoMenuServicos:active .tituloSuperior, .botaoMenuServicos:hover path {
    color: #01579B; /* Muda a cor ao passar o mouse ou clicar */
}

/* Efeito hover para a imagem */
.botaoMenuSuperior:hover img, .botaoMenuSuperior:active img , .botaoMenuServicos:hover img, .botaoMenuServicos:active img{
    color: #01579B;
    filter: brightness(0) saturate(100%) invert(34%) sepia(87%) saturate(1072%) hue-rotate(186deg) brightness(94%) contrast(100%);
}


.img-fluid {
    mix-blend-mode: normal; /* Mistura a cor de fundo com a imagem */
    transition: mix-blend-mode 0.3s;
}

.botaoMenuSuperior:hover .img-fluid, .botaoMenuSuperior:active .img-fluid,
.botaoMenuServicos:hover .img-fluid, .botaoMenuServicos:active .img-fluid {
    mix-blend-mode: normal; /* Restaura a imagem original ao passar o mouse */
}



.botaoMenuSuperiorLogo {
    margin-left: 0; 
    display: flex;
    justify-content: center;
    align-items: flex-end; 
}

.botaoMenuSuperior {
    display: inline-block; 
    background-color: #fff;
    text-align: center;
    
    border-radius: 25px;  
    margin-top: 16px;    
    padding: 10px;    
    min-width: 166px;
    min-height: 99px;    
}

/* Responsividade */

@media (min-width: 992px) {
    .containerMenu-superior {
        flex-direction: column; 
        align-items: center; 
        justify-content: flex-start;
    }
}

/* Ajuste específico para o botaoMenuSuperiorLogo */
.botaoMenuSuperiorLogo {
    margin-right: 20px; /* Espaçamento específico para o logo */
    text-align: left; /* Certifica-se de que o texto está alinhado à esquerda */
}



@media (max-width: 768px) {
    .botaoMenuSuperiorLogo {
        
        text-align: left !important;
    }

    .rowMenu-superior {
        flex-direction: column; /* Para telas menores, empilha os botões */
        align-items: start; /* Centraliza os itens verticalmente */
    }
}



/* Fim marcação 2 >>>> */




/* marcação 3 >>>>> SUBMENU  COM DROPDOWN>>>>>>> */

.submenu .btn-submenu{
    margin: 0 auto;
}

.submenu, .dropdown-menu{
    background-color: #0277bd;
}

.rowSubMenu{
    padding: 14px;
    justify-content: center;
    display: flex;
    gap: 20px;
}

.btn-submenu, .dropdown-item{
    text-align: center;
    color: #fff;
}

.submenu {
    padding-left: 2rem;
    padding-right: 2rem;
}



.btn-submenu:hover{
    background-color: #01579B;
    color: #fff;
}

.dropdown-item:hover {
    background-color: #4671e6;
    color: #fff;
    transform: scale(1.1); 
    border-radius: 3px;
}
    

/* Fim marcação 3 */


/* Marcação 4>>> */

/* Remove os botões originais do slick 
Botões do slick - Removendo bordas */

.slick-prev, .slick-next {
    background: transparent !important; /* Remove qualquer fundo */
    border: none !important; /* Remove as bordas */
    outline: none !important; /* Remove outline ao focar */
}

/* Personalize os botões de navegação customizados */
.slick-prev-custom, .slick-next-custom, .slick-prev-servicos, .slick-next-servicos {
    background: none;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
    padding: 0;
    height: 48px;
    display: block;
}

/* Botão anterior à esquerda */
.slick-prev-custom {
    left: 64px;
}

/* Botão próximo à direita */
.slick-next-custom {
    right: 64px;
}

.slick-prev-custom:hover img, .slick-next-custom:hover img,
.slick-prev-servicos:hover img, .slick-next-servicos:hover img {
    opacity: 0.8; 
    transform: scale(1.05); 
}



/* Dots customizados - retangulares e centralizados */

.slick-dots {
    position: absolute;
    bottom: 30px; 
    width: 100%; 
    display: flex;
    justify-content: center; 
    list-style: none;
    gap: 20px;
}


/* Cada dot */
.slick-dots li {
    margin: 0 10px; 
    /* flex: 0 1 auto;  */
}
/* Estilo dos dots */
.slick-dots li button {
    width: 48px; 
    height: 8px; 
    border-radius: 9px; 
    background-color: #b3e5fc; 
    border: none;    
}

/* Dot ativo com destaque */
.slick-dots li.slick-active button {
    background-color: #03a9f4; 
    transform: translateY(4px); 
}

/* Hover nos dots */
.slick-dots li button:hover {
    background-color: #03a8f473; /* Cor ao passar o mouse */
}

/* Tá com os botãozin fntasma de baixo*/
.slick-dots li button:before {
    content: ''; 
}


/* fim marcação 4 <<<< */


/* marcação 5 */

.containerMenu-inferior {      
    background-color: #01579b;
    width: 100%;
    display: flex;
    justify-content: space-between; 
    /* margin: 0 auto;  */
    border-bottom-left-radius: 15px;    
    border-bottom-right-radius: 15px;
    flex-direction: column;  /* Permite que os elementos filhos fiquem um abaixo do outro */
    align-items: center;  /* Centraliza os elementos filhos */
    height: auto;
       
}

.rowMenu-inferior{    
    max-width: 1146px;
    max-height: 90;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    
}

.slick-slider-servicos {
    display: flex;
    align-items: center;
}


.slick-slide {
    height: auto; /* Garante que as slides ocupem apenas o espaço da imagem */
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-slide, .slick-list {
    padding: 0;
    margin: 0; 
    height: 100% !important;   
}




.slickerMaior, .slickerMaior row, .slicker-slider row {
    padding: 0 ; /* Remove o padding da coluna */   
    height: 100% ; /* Define altura para ocupar todo o espaço disponível */
    margin: 0 ;
}

.slick-slider img {
    width: 100%;
    height: 100% ; 
    object-fit: fill; 
    display: block;
}

.slick-slider div {
    margin: 0; /* Remove margens dos divs que contêm as imagens */
}
.prevBtn {
    background-image: url('assets/btn-esq.png');

}

.nextBtn{
    background-image: url('assets/btn-dir.png');
}

/* fim marcação 5 */


/* inicio libras */

.btnAcesso {
    position: fixed;
    right: 20px;
    top: 150px;
    z-index: 99999999;
}
  
.icone {
    display: inline-block;
    width: 40px; 
    height: 40px; 
    background-image: url('assets/libras-1.png'); /* Ajuste o caminho conforme necessário */
    background-size: contain; 
    background-repeat: no-repeat; 
    
}

/* fim libras */

/* marcação 6 */


.containerMenu-inferior .row{
    max-width: 1146px;
    height: auto;
    
}




.slickerMenor {
    /* overflow: hidden; */
    position: relative;    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-block: 15px;
    position: relative;
}


.botaoMenuServicos {
    background-color: #f0f0f0;       
    display: inline-block;     
    max-width: 170px;
    height: 90;
    border-radius: 15px;      
}


.botaoMenuServicos img{
    margin-top: 10px;    
}

/* .botaoMenuServicos span{   
    border: solid purple;
    align-items: center;
} */



.botaoMenuServicos img {
    width: 100%; 
    max-width: 30px;
    height: auto; 
}

.slick-prev-servicos {
    left: -60px; 
    
}

.slick-next-servicos {
    right: -60px;
}

.slick-slider-servicos .slick-list a {
    padding-inline: 19px;
    
}

.slick-prev-servicos, .slick-next-servicos {
    position: absolute; 
    top: 50%;     
    z-index: 10 !important; 
}

.slick-slider-servicos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* fim marcação 6 */