@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/* Se num importar a fonte, não vai né.... */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    text-align: center;
    transition: transform .2s;
    flex-wrap: wrap;
    word-wrap: break-word;
    font-size: 12px;
}

a {
    text-decoration: none;
    color: #000000;
}

/* Evitar overflow global */
html, body {
    overflow-x: auto; 
}

.container {
    max-width: 100%; 
}

.main .container-fluid{
    width: 99%;
}

.slick-slider-vitrini .slick-dots{
    left: -25px;
    width: 100%;
}

.slick-slider-vitrini,
.slick-slider-vitrini .slick-track,
.slick-slider-vitrini .slick-slide {
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden; 
}

.slickerMaior{
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
    height: auto;
}

/* Nav header */
.nav-topo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fff;
    max-width: 100%;
    overflow: hidden;
    margin-bottom: 8px;
    margin-top: 8px;
}

.nav-topo .nav-item {
    max-width: auto; 
    justify-content: center;
    padding-inline: 10px ;
    margin: 10px;
}

.nav-topo .nav-item:last-child {
    margin-right: 0;
}

.nav-item {
    width: auto; 
}


.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 166px; */
    width: auto; 
    height: 38px;
    margin: 10px;
    padding: 0 15px;
    border-radius: 12px;
    border: solid 1px #e0e0e0;
    background-color: #fafafa;
    text-align: center;
    font-size: 14px;
    color: #333;
    white-space: nowrap;
}


.nav-item a {
    text-decoration: none;
    color: inherit;
}

.nav-item:hover {
    background-color: #e0e0e0;
    color: #0056b3;
}



/* Estilização da área de PesquisaSite */
.form-control {
    flex: 1;
    height: 38px;
    padding: 0 10px;
    border: 1px solid #e0e0e0;
    border-right: none;
    border-radius: 12px 0 0 12px;
    background-color: #fafafa;
}

.form-control:focus {
    outline: none;
    border-color: #0277bd;
}

.btn-search {
    height: 38px;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 12px 12px 0;
    border: 1px solid #e0e0e0;
}

.btn-search:hover {
    background-color: #f0f0f0;
    
}

.btn-search:active {
    background-color: #e0e0e0;
    transform: scale(0.98);
    
}

.btn-search:hover .loupe-icon {
    transform: scale(1.1);
   
}

.loupe-icon {
    max-width: 16px;
    max-height: 16px;
    display: block;
    margin: auto;
}

/* Efeito hover */
.form-control:hover,
.btn-search:hover {
    background-color: #f0f0f0;
}


.nav-item:last-child {
    border: none;
    background-color: initial;
    /* remove a bagaceira bugada da ultima coluna */
    margin-left: 0;
}

.PesquisaSite:focus-within .form-control,
.PesquisaSite:focus-within .btn-search {
    background-color: #fafafa;
    color: #333;
    border-color: #e0e0e0;
    box-shadow: none;
}

.PesquisaSite:focus-within .btn-search:hover {
    background-color: #fafafa;
    color: #333;
    box-shadow: none;
}

.PesquisaSite:focus-within .form-control:hover {
    background-color: #fafafa;
    color: #333;
    border-color: #e0e0e0;
}

/* <<<<<<<<<< Marcação 2>>>> */
.containerMenu-superior {
    justify-content: center;
    background-color: #01579b;
    width: 100%;
    display: flex;
    margin: 0 auto;

}

.botaoMenuSuperior {
    border-radius: 25px;
    margin-top: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 30px;
}



.botaoMenuSuperior img,
.botaoMenuServicos img {
    margin: 0 auto;
    width: 28px;
    height: 28px;
    object-fit: cover;

    transition: filter 0.2s ease;
}


.tituloSuperior {
    display: block;
    border-radius: 24px;
    font-weight: bold;
    margin: 10px 0;
    /* Define margem superior e inferior uniformemente */
    font-size: 16px;

}

.tituloSuperior:hover path img.img-fluid {
    text-align: center;
    margin: auto;
}

.botaoMenuSuperior:hover .tituloSuperior,
.botaoMenuSuperior:active .tituloSuperior,
.botaoMenuSuperior:hover path,
.botaoMenuServicos:hover .tituloSuperior,
.botaoMenuServicos:active .tituloSuperior,
.botaoMenuServicos:hover path {
    color: #01579B;
    /* Muda a cor ao passar o mouse ou clicar */
}

/* Efeito hover para a imagem */
.botaoMenuSuperior:hover img,
.botaoMenuSuperior:active img,
.botaoMenuServicos:hover img,
.botaoMenuServicos:active img {
    color: #01579B;
    filter: brightness(0) saturate(100%) invert(34%) sepia(87%) saturate(1072%) hue-rotate(186deg) brightness(94%) contrast(100%);
}


.img-fluid {
    mix-blend-mode: normal;
    transition: mix-blend-mode 0.3s;
}

.botaoMenuSuperior:hover .img-fluid,
.botaoMenuSuperior:active .img-fluid,
.botaoMenuServicos:hover .img-fluid,
.botaoMenuServicos:active .img-fluid {
    mix-blend-mode: normal;
}

.botaoMenuSuperior {
    display: inline-block;
    background-color: #fff;
    text-align: center;

    border-radius: 25px;
    margin-top: 16px;
    padding: 10px;
    min-width: 166px;
    min-height: 110px;
}

.logo{
    margin-right: 340px; 
    min-width: 260px !important;   
    margin-bottom: 15px !important;  
}

@media screen and (max-width: 991px) {

    .logo{
        margin-right: 0 !important; 
        margin-bottom: 0 !important;  
    }

    .botaoMenuSuperior{
        width: 100%;
        height: 10px;
    }
    .rowMenu-superior {
        justify-content: center;
    }
}
/* Fim marcação 2 */
/* marcação 3 */
.submenu .btn-submenu {
    margin: 0 auto;
}

.submenu,
.dropdown-menu {
    background-color: #0277bd;
}

.rowSubMenu {
    padding: 14px;
    justify-content: center;
    display: flex;
    gap: 20px;
}

.btn-submenu,
.dropdown-item {
    text-align: center;
    color: #fff;
}

.submenu {
    padding-left: 2rem;
    padding-right: 2rem;
}

.btn-submenu:hover {
    background-color: #01579B;
    color: #fff;
}

.dropdown-item:hover {
    background-color: #01579B;
    color: #fff;
    transform: scale(1);
    border-radius: 3px;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3), inset 0 1px 3px rgba(255, 255, 255, 0.2);
}

/* Fim marcação 3 */
/* Marcação 4 */

.slick-prev-custom, .slick-next-custom, .slick-prev-servicos, .slick-next-servicos, .slick-prev-noticias, .slick-next-noticias, .slick-prev-galeria, .slick-next-galeria {
    background: none;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
    padding: 0;
    height: 48px;
    display: block;
}

.slick-prev-custom {
    left: 64px;
}

.slick-next-custom {
    right: 64px;
}

.slick-prev-custom:hover img, .slick-next-custom:hover img, .slick-prev-servicos:hover img, .slick-next-servicos:hover img .slick-prev-servicos:hover img, .slick-next-servicos:hover img {
    opacity: 0.9;
    transform: scale(1.02);
}

.slick-dots {
    position: absolute;
    bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
}


/* Cada dot */
.slick-dots li {
    margin: 0 10px;
}

.slick-dots li button {
    width: 46px;
    height: 6px;
    border-radius: 12px;
    padding-inline: 5px;
    margin: 2px 12px;
    background-color: #b3e5fc;
    border: none;
}


.slick-dots li.slick-active button {
    background-color: #03a9f4;
    transform: translateY(4px);
}


.slick-dots li button:hover {
    background-color: #03a8f473;
}

/* Tá com os botãozin fntasma de baixo*/
.slick-dots li button:before {
    content: '';
}
/* fim marcação 4 <<<< */
/* marcação 5 */
.containerMenu-inferior {
    background-color: #01579b;
    width: 100%;
    display: block;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    overflow: hidden;
}


.slick-slider-servicos {
    display: flex;
    align-items: center;
    position: relative;
}

.slick-slide {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* fim marcação 5 */
/* inicio libras */
.btnAcesso {
    position: fixed;
    right: 20px;
    top: 150px;
    z-index: 99999999;
}

.icone {
    display: inline-block;
    width: 40px;
    height: 40px;
    opacity: 80%;
    background-image: url('assets/libras-1.png');
    background-size: contain;
    background-repeat: no-repeat;
}
/* fim libras */
/* marcação 6 */

.slickerMenor {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding-block: 15px;
    position: relative;
}

.botaoMenuServicos {
    background-color: #f0f0f0;
    display: block;
    max-width: 170px;
    height: 90;
    border-radius: 15px;
}

.botaoMenuServicos img {
    margin-top: 10px;
}

.botaoMenuServicos img {
    width: 100%;
    max-width: 30px;
    height: auto;
}

.slick-prev-servicos {
    left: -45px;

}

.slick-next-servicos {
    right: -45px;
}

.slick-slider-servicos .slick-list a {
    padding-inline: 19px;

}

.slick-prev-servicos, .slick-next-servicos {
    position: absolute;
    top: 40% !important;
    z-index: 10 !important;
}

.slick-slider-servicos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .slick-slider-servicos, .slickerGaleria {
        padding-left: 0;
        padding-right: 0;
    }

    .slick-slider-servicos .slick-dots{
        bottom: -80px !important;
        left: 0;
        right: 0;
        width: 100%;
        height: 60%;
       
    }
}

@media screen and (max-width: 992px) {
    .slick-slider-servicos .slick-dots {
        top: 135px;
        width: 60% !important;
        left: 100px !important;
    }

    .slickerGaleria .slick-dots li {
      margin: 0 6px;
      left: -20px;
      max-width: 90%;
   }

    .containerMenu-inferior{
        /* overflow: hidden; */
        padding-bottom: 50px;
    }

    .slickerMenor{
        padding-bottom: 50px;
        padding-top: 0;
    }

    .slickerMenor .slick-dots{
        flex-wrap: wrap;
        width: 80%;
    }

}


@media screen and (max-width: 768px) {

    .slick-slider-servicos .slick-dots {
        display: flex;
        justify-content: center;
        list-style: none;
        gap: 20px;        
        max-width: 80% !important;
        margin: 20px 15px;
        top: 100px;
        left: 50px !important;
    }

    .botaoMenuServicos{
        max-width: 350px;
    }

    .containerMenu-inferior {
        padding: 10px;
        display: block;
        flex-wrap: wrap;
    }

    .slick-slider-servicos, .slickerNoticia {
        padding-bottom: 30px;
    }

    .slickerMenor{
        position: relative;
       
    }

    .slickerNoticia .slick-dots  {
        position: relative;
        bottom: -40px; 
        width: 90%;
        padding-bottom: 10px;
    } 

    .slickerGaleria{
        position: relative;
    }
}

@media screen and (max-width: 576px) {

    .slick-slider-servicos .slick-dots {
        margin: auto -20px;
    }

    .containerMenu-inferior {
        padding: 20px; 
        display: block;
        min-height: 250px;
        min-height: calc(250px + 80px); 
        position: relative;
        overflow: visible !important;    
    }

    .slick-slider-servicos .slick-dots {
        position: absolute;
        bottom: -25px;        
        padding-top: 35px;
        margin-bottom: 50px;         
        justify-content: center;  
    }

    .slick-slider-servicos .slick-dots li {
        margin: 0 6px;
    }

    .slick-slider-servicos {
        padding-bottom: 60px; 
        
    }
    .containerMenu-inferior{
        height: auto;
    }
    
    .slickerMenor{
        overflow: visible;
        padding-bottom: 100px;
    }

    .slickerMenor .slick-dots{
        top: 120px;
        flex-wrap: wrap;
        left: 30px;
        justify-content: center;
    }

    .slickerGaleria{
        overflow: visible;
    }
}
/* fim marcação 6 */

.forcarBarra{
    max-width: 80%;
}

/* marcação 7 */
.colNoticias {
    position: relative;
    padding: 30px;
}

.Noticias {
    position: relative;
    z-index: 1;
    width: 129px;
    height: 39px;
    flex-grow: 0;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #01579b;
    margin-bottom: 5px;
    padding-left: 5px;
}

.Vinheta {
    width: 120px;
    height: 16px;
    background-color: #e1f5fe;
    position: relative;
    top: -15px;
    left: -1.5px;
    z-index: 0;
    border-radius: 20px;
}

/* noticias */

.NoticiasContainer {
    position: relative;
    text-align: left;
}

.noticiaMaior {
    text-align: left;
    max-width: 100%;
    height: 100%;
    margin-bottom: 30px;
    border-radius: 24px;
    border: solid 2px whitesmoke;
    box-sizing: border-box;
    position: relative;
    display: block;
    padding: 0;

    overflow: hidden;
}

.noticiaMaior figure {
    width: 100%;
}

.noticiaMaior img {
    width: 100%;
    border-radius: 24px;
    max-height: 410px;
    height: auto;
    display: block;
}

.noticiaMaior:hover img {
    transform: scale(1.01);
}

.noticiaMaior:hover .tituloNoticiaMaior,
.noticiaMenor:hover .tituloNoticiaMenor,
.tituloGalerias:hover {
    color: #01579b;
}

.tituloNoticiaMaior:active {
    color: #000000;
    text-decoration: none;
    transform: scale(1.0);
}

.tituloNoticiaMaior {
    display: block;
    width: auto;
    margin: 16px 0 0;
    font-size: 18px;
    font-weight: 600;
    color: #616161;
    text-align: left;
    word-wrap: break-word;
    padding-left: 10px;
}

@media screen and (max-width: 992px) {
   .slickerNoticia .slick-list, .slickerGaleria .slick-list {
        height: auto !important;
    }

    .slickerNoticia .slick-dots  {
        position: relative;
        bottom: -20px; 
        margin-bottom: 40px;
        justify-content: center;
        text-align: center;
    }

    .containerNoticiaMenor, .containerGaleria {
        width: auto;
        flex-wrap: wrap;
        overflow: visible;
    }

    .slickerNoticia{
        padding-bottom: 100px;
        width: auto;
        height: auto;
        overflow: visible;
    } 

    .slickerGaleria .slick-dots{
        position: relative;
        bottom: -20px; 
        justify-content: center;
        padding-inline: 10px;
        text-align: center;
    }

    .tituloGaleriaSlicker-Item{
        position: absolute;
        max-width: 200px;
        height: auto;
        font-size: 12px;
        font-weight: 400;
        text-align: left;
        color: white;
        z-index: 1;
        bottom: 35px;
        left: 60px !important;
        width: 60%;
    }
}

@media screen and (max-width: 1400px)  {
    .tituloNoticiaMaior{
        font-size: 12px;
        font-weight: 400;
        width: 90%;
        padding-left: 30px;
        padding-top: 20px;
        bottom: 20px;
        position: relative;
    }

    .tituloGaleriaSlicker-Item{
        left: 60px !important;
        width: 70% !important;
    }
}

.data-bg {
    position: absolute;
    max-width: 125px;
    max-height: 28px;
    top: 30px;
    left: 30px;
    background-color: #4fc3f7;
    padding: 4px 10px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: normal;
    color: #001c33;
    z-index: 1;
}

.data-bg-2 {
    position: absolute;
    max-width: 125px;
    max-height: 28px;
    top: 30px;
    left: 90px;
    background-color: #4fc3f7;
    padding: 4px 10px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: normal;
    color: #001c33;
    z-index: 1;
}

.data-bg-3 {
    position: absolute;
    max-width: 125px;
    max-height: 28px;
    top: 30px;
    left: 40px;
    background-color: #4fc3f7;
    padding: 4px 10px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: normal;
    color: #001c33;
    z-index: 1;
}

/* fim marcação 7 */
/* marcação 8 */
.slickerNoticia {
    display: flex;
    overflow: visible;
    border: solid whitesmoke;
    border-radius: 35px;
}

.noticiaMenor figure {
    margin: 0;
    padding: 0;
    width: 100%;
}

.noticiaMenor img {
    border-radius: 24px;
    max-height: 410px;
    height: auto;
}

.noticiaMenor {
    position: relative;
    padding: 10px;
    /* lembrete diario pra deixar de ser burro pq se o pai n alinha, o filho tbm n vai... */
    text-align: left;
    padding-bottom: 30px;
}

.tituloNoticiaMenor {
    position: relative;
    font-size: 20px;
    text-align: left;
    word-wrap: break-word;
    color: #616161;
}

.tituloNoticiaMenor:hover {
    text-decoration: underline;
}


.slick-prev-noticias {
    left: -30px;
}

.slick-next-noticias {
    right: -30px;
}

.slick-slider-noticias .slick-list a {
    padding-inline: 19px;
}

.slick-prev-noticias, .slick-next-noticias {
    border: solid whitesmoke;
    border-radius: 50%;
}

.slick-prev-noticias:hover, .slick-next-noticias:hover {
    border-color: rgba(245, 245, 245, 0.952);
    transform: translateY(-50%) scale(1.1);
    /* Misteriosamente se nao colocar o translateY, buga :) */
}
/* fim marcação 8 */
/* marcação 9 */
.btnMais {
    max-width: 226px;
    max-height: 48px;
    padding: 14px 40px;
    border-radius: 16px;
    background-color: #ffb300;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #331600;
    display: block;
    outline: none;
}

.btnMais:hover {
    background-color: #FFC107;
}

.btnMais:active {
    background-color: #FFB300;
    border: none;
    outline: none;
}

.containerGaleria {
    background-color: #01579b;
    border-radius: 25px;
}

.colGaleria, .colEventos,.colObras,.colVideos {
    position: relative;
    padding: 30px;
}

.GaleriaContainer {
    position: relative;
    text-align: left;
    padding-left: 370px;
    padding-top: 45px;
}


.Galeria {
    position: relative;
    z-index: 2;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: white;
    margin-bottom: 5px;
    padding-left: 5px;
}

.VinhetaGaleria {
    position: relative;
    width: 240px;
    height: 16px;
    background-color: #0277bd;
    top: -15px;
    left: 3px;
    z-index: 1;
    border-radius: 20px;
}


.galeriaSlicker-Item {
    position: relative;
    z-index: 0;
    /* width: 550px; */
    height: auto;
    overflow: hidden;
    padding-left: 40px;
    padding-right: 30px;
}

.Obras-Item {
    position: relative;
    z-index: 0;
    height: auto;

}

.Obras-Item:hover p {
    color: #01579b;
}

.tigrinho {
    flex: auto;
    margin-bottom: 35px;
    
}

@media (max-width: 991px) {
    .tigrinho {
        text-align: center;
        padding-bottom: 0px;
    }

    .tituloGalerias{
        font-size: 18px !important;
        max-width: 100px;
        margin-bottom: 0 !important;
        padding: 0 !important;
    }
}

@media (min-width: 1200px) {
    .tigrinho {
        text-align: center;
        padding-bottom: 0px;
    }

    .tituloGalerias{
        font-size: 18px !important;
        max-width: 100px;
        margin-bottom: 0 !important;
        padding: 0 !important;
    }
}

/*Começo Gambiarra pro center-mode funcionar */
.slick-center .galeriaSlicker-Item {
    transform: scale(1.2);
}

.slickerGaleria .slick-slide {
    transform: scale(0.85);
}
/* Gambiarra pro center-mode funcionar */
.galeriaSlicker-Item img {
    height: 300px;
    object-fit: cover;
    border-radius: 25px;
}

.galeriaSlicker-Item:hover img {
    transform: scale(1.05);
}

.galeriaSlicker-Item:hover a {
    text-decoration: underline;
}

.tituloGaleriaSlicker-Item {
    position: absolute;
    max-width: 500px;
    height: auto;
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    color: white;
    z-index: 1;
    bottom: 35px;
    left: 70px;
    width: 80%;
}

.slick-prev-galeria {
    left: 60px;
}

.slick-next-galeria {
    right: 60px;
}

.slick-slider-galeria .slick-list a {
    padding-inline: 19px;
}

.slick-prev-galeria,.slick-next-galeria {
    border: solid whitesmoke;
    border-radius: 50%;
    transform: translateY(-50%);
}

.slick-prev-galeria:hover,.slick-next-galeria:hover {
    border-color: rgba(245, 245, 245, 0.952);
    transform: translateY(-50%) scale(1.1);
    /* Misteriosamente se nao colocar o translateY, buga :) */
}
/* fim marcação 9 */
/* marcação 10 */
.EventosContainer {
    text-align: left;
    padding-top: 32px;
    padding-bottom: 30px;
    padding-left: 370px;
}

.Eventos {
    position: relative;
    z-index: 2;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #01579b;
    margin-bottom: 5px;
    padding-left: 5px;
}

.VinhetaEventos {
    position: relative;
    width: 340px;
    height: 16px;
    background-color: #e1f5fe;
    top: -15px;
    left: 3px;
    z-index: 1;
    border-radius: 20px;
}

@media screen and (max-width: 494px) {
    .EventosContainer, .GaleriaContainer {
        padding-left: 20px; 
        padding-right: 20px;
    }

    .Eventos, .Galeria {
        font-size: 26px !important; 
        padding-left: 0; 
    }

    .VinhetaEventos {
        width: 210px !important;
    }

    .VinhetaGaleria{
        width: 150px !important;
    }

    .VideoContainer, .ObraContainer {
        padding-bottom: 30px;
    }

}

@media screen and (max-width: 991px) {
    .EventosContainer, .GaleriaContainer {
        padding-left: 50px; 
        padding-right: 50px;
    }

    .Eventos, .Galeria {
        font-size: 28px; 
        padding-left: 0; 
        white-space: nowrap; 
        overflow: hidden; 
        text-overflow: clip; 
    }

    .VinhetaEventos {
        width: 290px 
    }

    .VinhetaGaleria{
        width: 200px
    }

    .Videos, .Obras {
        font-size: 26px !important;
    }
    
    .VinhetaVideos, .VinhetaObras {
        width: 170px !important;
    }  
}

.eventoAgenda {
    border-right: solid whitesmoke 1px;
    border-width: 1px;
    padding: 15px;
    transition: all 0.2s ease-in-out;
    text-align: left !important;
}

.no-border {
    border: none !important;
}


.eventoAgenda:hover {
    transform: scale(1.02);
}

.numeroEvento {
    font-size: 32px;
    font-weight: bold;
    color: #01579b;
    /* Cor destacada */
    display: inline-block;
    margin-right: 10px;
    text-align: left !important;
}

.dataEvento h3 {
    display: inline-block;
    font-size: 1.5rem;
    color: #01579b;
    font-size: 24px;
    font-weight: bold;
}

.dataEvento p {
    font-size: 16px;
    font-weight: normal;
    color: #01579b;
    text-align: left;
}

.eventoAgenda figure img {
    border-radius: 10px;
    margin-bottom: 10px;
}

.tituloEvento {
    width: 60%;
    font-weight: bold;
    font-size: 20px;
    color: #4A4A4A;
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    text-align: left;
}

.tituloEvento:hover {
    color: #0A3A9E;
}

.localEvento {
    font-size: 14px;
    color: #616161;

    text-align: left;
}
/* fim marcação 10 */
/* marcação 11 */
.verClarin {
    background-color: #ffd54f;
}

.tituloGalerias {
    max-width: 80%;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    text-align: left;
    color: #000;
    border: solid #ffff;
    margin-left: 30px;
    padding-bottom: 35px;

}

.VideoContainer {
    text-align: left;
    padding-bottom: 30px;
}

.ObraContainer {
    text-align: left;
    padding-bottom: 30px;
}

.Videos {
    max-width: 276px;
    height: auto;
    position: relative;
    z-index: 2;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #01579b;
    margin-bottom: 5px;
}

.VinhetaVideos {
    position: relative;
    width: 276px;
    height: 16px;
    background-color: #e1f5fe;
    top: -15px;
    left: 3px;
    z-index: 1;
    border-radius: 20px;
}

.Obras {
    position: relative;
    z-index: 2;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #01579b;
    margin-bottom: 5px;
}

.VinhetaObras {
    position: relative;
    width: 256px;
    height: 16px;
    background-color: #e1f5fe;
    top: -15px;
    left: 3px;
    z-index: 1;
    border-radius: 20px;
}
/* fim marcação 11 */
/* marcação 12 */
.parallax {
    max-width: 99%;
    min-height: 450px;
    padding: 15px;
    background-image: url("assets/image-5.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: block;
    justify-content: center;

}

.quadradao {
    position: relative;
    top: -30px;
    max-width: 940px;
    background-color: #fafafa;
    text-align: left;
    margin-right: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.verDesativado {
    min-width: 262px;
    min-height: 48px;
    padding: 14px 40px;
    border-radius: 16px;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    display: block;
    outline: none;
    background-color: #039be5;
    color: #001c33;
    opacity: 0.6;
}

.textao {
    position: relative;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    left: 40px;
    margin: 50px;

}

.textao h1 {
    font-size: 50px;
    text-align: left;
    font-weight: 300;
    color: #000
}

.textao h2 {
    font-size: 60px;
    font-weight: 900;
    text-align: left;
    color: #000;
}

.textao p {
    width: auto;
    height: 24px;
    font-size: 20px;
    text-align: left;
    color: #616161;
}

.textao .row {
    left: -100px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}


.textao .row .col-auto {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1221px) {
   .quadradao .row{
    padding: 10px;
   }

   .textao{
    left: 0;
    margin: 10px;
   }

}

@media screen and (max-width: 767px) {
    .textao h1 {
        font-size: 20px;
        padding-left: 40px;
        margin: 0;
    }
    
    .textao h2 {
        padding-left: 40px;
        margin: 0;
        font-size: 30px;
        font-weight: 900;
    }
    
    .textao p {
        padding-left: 40px;
        margin: 0;
        width: auto;
        height: 14px;
        font-size: 10px;
    }

    .quadradao{
        max-width: 520px;
        height: auto;
        padding: auto;
        margin: 1px 60px;
    }
}


.blocoAzulInferior-1 p:hover,.blocoAzulInferior-2 p:hover {
    text-decoration: underline;
}

.blocoAzulInferior-1 {
    margin-top: 80px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #0277bd;
    color: white;
    /* max-width: 99%; */
}

.blocoAzulInferior-1 h1 {
    max-width: 281px;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}

.blocoAzulInferior-1 p {
    text-align: left;
    margin: 0;
}

.blocoAzulInferior-2 {
    position: relative;
    background-color: #01579b;
    color: white;
}

.blocoAzulInferior-2 h1 {

    font-size: 26px;
    font-weight: 900 !important;
    text-align: left !important;

    margin-bottom: 20px;
    padding-top: 20px;
}

.blocoAzulInferior-2 p {
    max-width: 55% !important;
    font-size: 10px;
    line-height: 1.25 !important;
    font-weight: 300 !important;
    text-align: left;
}

@media screen and (max-width: 992px) {
    .blocoAzulInferior-1 h1, .blocoAzulInferior-2 h1 {
        font-size: 18px;
        padding-left: 50px;
    }

    .blocoAzulInferior-1 p, .blocoAzulInferior-2 p {
        font-size: 8px;
        padding-left: 60px;
    }
    
}
/* fim marcação 12 */
/* marcacao 13 */
footer {
    padding: 20px 0;
    background-color: #f8f9fa;
}

footer p {
    font-size: 14px;
    text-align: left;
    padding-left: 100px;
    margin-bottom: 0;
    color: #212529;
    word-wrap: break-word; 
}

footer .pezinho img {
    max-width: 150px; 
    max-height: 50px;
}

@media screen and (max-width: 992px) {
    footer p {
        margin: 20px;
  
    }

    .pezinho{
        padding: 50px;
    }
    
}

.mapinha {
    padding: 0;
    margin: 0;
}

.mapinha iframe {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}


.youtube a {
    display: block;
    position: relative;
    text-decoration: none;
}

.youtube:hover,
.Obras-Item:hover {
    transform: scale(1.01);
}

.youtube:hover p {
    color: #01579b;
}

.youtube img {
    display: block;
    width: 100%;
    height: auto;
}


.play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 50px;
    background: black;
    opacity: 0.8;
    border-radius: 10px;
    justify-content: center;

}

.play-icon::before {
    content: '\25B6';
    font-size: 30px;
    color: white;
}

.bordaWhiteSmoke{
    position: relative;
}

.bordaWhiteSmoke::before {
    content: "";
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    right: 0; 
    height: 80%; 
    width: 2px; 
    background-color: whitesmoke; 
}

.bordaWhiteSmoke2{
    border: solid whitesmoke;
    border-radius: 25px;
    top: 50%; 
    margin-bottom: 45px;
    padding-bottom: 35px;
}
/* fim marcacao 13 */