@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/* Se num importar a fonte, não vai né jão.... */

/* Estilos gerais */
* {
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
    font-family: 'Inter';    
    text-align: center;    
    transition: transform .2s;
    flex-wrap: wrap;
    word-wrap: break-word;
    font-size: 12px;    
}

a {
    text-decoration: none;
    color: #000000;
}


/* teste começa  sumir com o espaçamento bizarro na borda de baixo*/
.slick-slider-vitrini, .slick-track, .slick-slide {
    margin: 0 !important;
    padding: 0 !important;
}


/* fim teste */

/* Nav header */
.nav-topo {
    display: flex;
    align-items: center; 
    flex-wrap: wrap;
    background-color: #fff;
    max-width: 100%;
    overflow: hidden;
    margin-bottom: 8px;
    margin-top: 8px;
}

.nav-topo .nav-item {
    margin-right: 30px;
}

.nav-topo .nav-item:last-child {
    margin-right: 0; 
}

/* Itens da navegação */
.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 166px;
    height: 38px;
    margin: 10px;    
    padding: 0 15px;
    border-radius: 12px;
    border: solid 1px #e0e0e0;
    background-color: #fafafa;
    text-align: center;
    font-size: 14px;
    color: #333;
    white-space: nowrap;
}

.nav-item a {
    text-decoration: none;
    color: inherit;
}

.nav-item:hover {
    background-color: #e0e0e0;
    color: #0056b3;
}

@media screen and (max-width: 1199.9px) {
    .nav-topo .nav-item {
      margin: 0.25rem;
    }
}
  
@media only screen and (max-width: 991px) {
    .nav-topo .nav-item {
      max-width: 100%;
    }
}

/* Estilização da área de PesquisaSite */
.PesquisaSite {
    display: flex;
    align-items: center;
}

.form-control {
    flex: 1;    
    height: 38px;
    padding: 0 10px;
    border: 1px solid #e0e0e0;
    border-right: none;
    border-radius: 12px 0 0 12px;
    background-color: #fafafa;
}

.form-control::placeholder {
    color: #888;
}

.form-control:focus {
    outline: none;
    border-color: #0277bd;
}

.btn-search {
    height: 38px;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 12px 12px 0;
    border: 1px solid #e0e0e0;
}

.btn-search:hover {
    background-color: #f0f0f0;
    /* Leve mudança de cor ao passar o mouse */
}

.btn-search:active {
    background-color: #e0e0e0;
    transform: scale(0.98);
    /* Simula um clique com leve encolhimento */
}

.btn-search:hover .loupe-icon {
    transform: scale(1.1);
    /* Amplia a lupa ao passar o mouse */
}

.loupe-icon {
    max-width: 16px;
    max-height: 16px;
    display: block;
    margin: auto;
}

/* Efeito hover */
.form-control:hover,
.btn-search:hover {
    background-color: #f0f0f0;
}

/* Ajustes de responsividade para resoluções menores */
@media (max-width: 1145px) {
    .nav-topo {
        justify-content: flex-start;
    }

    .nav-item {
        margin: 5px;
        padding: 0 10px;
        width: 100%;
    }

    .PesquisaSite {
        max-width: 100%;
    }
}

/* Ajustes para resoluções maiores */
@media (min-width: 1145px) {
    .nav-topo {
        justify-content: center;
        padding: 0 20px;
    }

    .nav-item {
        margin: 5px;
        padding: 0 10px;
        width: auto;
    }

    .PesquisaSite {
        flex-grow: 0;
        max-width: 166;
        margin-left: auto;
    }
}

.nav-item:last-child {
    border: none;
    background-color: initial;
    /* remove a bagaceira bugada da ultima coluna */
    margin-left: 0;
}

.nav-item:last-child:hover {
    background-color: initial;
    color: inherit;
    margin-left: 0;
}

.PesquisaSite:hover {
    background-color: transparent;
    color: inherit;
}

.PesquisaSite:focus-within .form-control,
.PesquisaSite:focus-within .btn-search {
    background-color: #fafafa;
    color: #333;
    border-color: #e0e0e0;
    box-shadow: none;
}

.PesquisaSite:focus-within .btn-search:hover {
    background-color: #fafafa;
    color: #333;
    box-shadow: none;
}

.PesquisaSite:focus-within .form-control:hover {
    background-color: #fafafa;
    color: #333;
    border-color: #e0e0e0;
}

/* <<<< -- marcação 1 , acima é o header --- >>>> */
.container-maior {
    display: flex;
    justify-content: center; 
    align-items: center;     
    width: 100%;
    height: 100%;    
}

.blocoMaior{
    width: 100%;
    padding: 0;
    margin: 0;
}

/* <<<<<<<<<< Marcação 2>>>> */
.containerMenu-superior {
      
    background-color: #01579b;
    width: 100%;
    display: flex;
    
    margin: 0 auto; 
    border-top-left-radius: 15px;    
    border-top-right-radius: 15px;
       
}

.containerMenu-superior > div {
    flex: 0 1 auto; 
    min-width: 150px; 
    margin: 0 15px;
}



.containerMenu-superior .rowMenu-superior  {
    text-align: center;   
}

.botaoMenuSuperior, .botaoMenuSuperiorLogo{ 
    display:inline-block; 
    background-color: #fff;
    border-radius: 25px;  
    margin-top: 16px;    
    padding-top: 10px;
    padding-bottom: 10px;    
    min-width: 30px;
        
}

.botaoMenuSuperiorLogo{
    margin-right: 20px;
}

.botaoMenuSuperior img , .botaoMenuServicos img{
    margin: 0 auto;  
    width: 28px; 
    height: 28px; 
    object-fit: cover; 

    transition: filter 0.2s ease;  
}


.tituloSuperior{
    border-radius: 24px;  
    font-weight: bold;  
    margin: 10px 0; /* Define margem superior e inferior uniformemente */
    font-size: 16px;    

}

.tituloSuperior:hover path img.img-fluid{
    text-align: center;
    margin: auto;
}


/* teste */
.botaoMenuSuperior:hover .tituloSuperior, .botaoMenuSuperior:active .tituloSuperior, .botaoMenuSuperior:hover path, 
.botaoMenuServicos:hover .tituloSuperior, .botaoMenuServicos:active .tituloSuperior, .botaoMenuServicos:hover path {
    color: #01579B; /* Muda a cor ao passar o mouse ou clicar */
}

/* Efeito hover para a imagem */
.botaoMenuSuperior:hover img, .botaoMenuSuperior:active img , .botaoMenuServicos:hover img, .botaoMenuServicos:active img{
    color: #01579B;
    filter: brightness(0) saturate(100%) invert(34%) sepia(87%) saturate(1072%) hue-rotate(186deg) brightness(94%) contrast(100%);
}


.img-fluid {
    mix-blend-mode: normal; 
    transition: mix-blend-mode 0.3s;
}

.botaoMenuSuperior:hover .img-fluid, .botaoMenuSuperior:active .img-fluid,
.botaoMenuServicos:hover .img-fluid, .botaoMenuServicos:active .img-fluid {
    mix-blend-mode: normal; 
}



.botaoMenuSuperiorLogo {
    margin-left: 0; 
    display: flex;
    justify-content: center;
    align-items: flex-end; 
}

.botaoMenuSuperior {
    display: inline-block; 
    background-color: #fff;
    text-align: center;
    
    border-radius: 25px;  
    margin-top: 16px;    
    padding: 10px;    
    min-width: 166px;
    min-height: 99px;    
}

/* Responsividade */

@media (min-width: 992px) {
    .containerMenu-superior {
        flex-direction: column; 
        align-items: center; 
        justify-content: flex-start;
    }
}


.botaoMenuSuperiorLogo {
    margin-right: 20px; 
    text-align: left; 
}



@media (max-width: 768px) {
    .botaoMenuSuperiorLogo {
        
        text-align: left !important;
    }

    .rowMenu-superior {
        flex-direction: column; 
        align-items: start; 
    }
}



/* Fim marcação 2 */

/* marcação 3 */

.submenu .btn-submenu{
    margin: 0 auto;
}

.submenu, .dropdown-menu{
    background-color: #0277bd;
}

.rowSubMenu{
    padding: 14px;
    justify-content: center;
    display: flex;
    gap: 20px;
}

.btn-submenu, .dropdown-item{
    text-align: center;
    color: #fff;
}

.submenu {
    padding-left: 2rem;
    padding-right: 2rem;
}

.btn-submenu:hover{
    background-color: #01579B;
    color: #fff;
}

.dropdown-item:hover {
    background-color: #4671e6;
    color: #fff;
    transform: scale(1.1); 
    border-radius: 3px;
}  

/* Fim marcação 3 */
/* Marcação 4 */
.slick-prev, .slick-next {
    background: transparent !important;
    border: none !important; 
    outline: none !important; 
}


.slick-prev-custom, .slick-next-custom,
 .slick-prev-servicos, .slick-next-servicos, 
 .slick-prev-noticias, .slick-next-noticias,
 .slick-prev-galeria, .slick-next-galeria {
    background: none;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
    padding: 0;
    height: 48px;
    display: block;
}


.slick-prev-custom {
    left: 64px;
}


.slick-next-custom {
    right: 64px;
}

.slick-prev-custom:hover img, .slick-next-custom:hover img,
.slick-prev-servicos:hover img, .slick-next-servicos:hover img
.slick-prev-servicos:hover img, .slick-next-servicos:hover img {
    opacity: 0.9; 
    transform: scale(1.02); 
}

.slick-dots {
    position: absolute;
    bottom: 30px; 
    width: 100%; 
    display: flex;
    justify-content: center; 
    list-style: none;
    gap: 20px;
}


/* Cada dot */
.slick-dots li {
    margin: 0 10px; 
}

.slick-dots li button {
    width: 48px; 
    height: 8px; 
    border-radius: 9px; 
    background-color: #b3e5fc; 
    border: none;    
}


.slick-dots li.slick-active button {
    background-color: #03a9f4; 
    transform: translateY(4px); 
}


.slick-dots li button:hover {
    background-color: #03a8f473; 
}

/* Tá com os botãozin fntasma de baixo*/
.slick-dots li button:before {
    content: ''; 
}
/* fim marcação 4 <<<< */

/* marcação 5 */
.containerMenu-inferior {      
    background-color: #01579b;
    width: 100%;
    display: flex;
    justify-content: space-between; 
    border-bottom-left-radius: 15px;    
    border-bottom-right-radius: 15px;
    flex-direction: column;  
    align-items: center;  
    height: auto;
       
}

.rowMenu-inferior{    
    max-width: 1146px;
    max-height: 90;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    
}

.slick-slider-servicos {
    display: flex;
    align-items: center;
}


.slick-slide {
    height: auto; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-slide, .slick-list {
    padding: 0;
    margin: 0; 
    height: 100% !important;   
}




.slickerMaior, .slickerMaior row, .slicker-slider row {
    padding: 0 ;   
    height: 100% ; 
    margin: 0 ;
}

.slick-slider img {
    width: 100%;
    height: 100% ; 
    object-fit: fill; 
    display: block;
}

.slick-slider div {
    margin: 0; /* Remove margens dos divs que contêm as imagens */
}
.prevBtn {
    background-image: url('assets/btn-esq.png');

}

.nextBtn{
    background-image: url('assets/btn-dir.png');
}
/* fim marcação 5 */
/* inicio libras */
.btnAcesso {
    position: fixed;
    right: 20px;
    top: 150px;
    z-index: 99999999;
}
  
.icone {
    display: inline-block;
    width: 40px; 
    height: 40px; 
    background-image: url('assets/libras-1.png'); /* Ajuste o caminho conforme necessário */
    background-size: contain; 
    background-repeat: no-repeat; 
}
/* fim libras */

/* marcação 6 */
.containerMenu-inferior .row{
    max-width: 1146px;
    height: auto;
}

.slickerMenor {
    position: relative;    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-block: 15px;
    position: relative;
}


.botaoMenuServicos {
    background-color: #f0f0f0;       
    display: inline-block;     
    max-width: 170px;
    height: 90;
    border-radius: 15px;      
}

.botaoMenuServicos img{
    margin-top: 10px;    
}

.botaoMenuServicos img {
    width: 100%; 
    max-width: 30px;
    height: auto; 
}

.slick-prev-servicos {
    left: -60px; 
    
}

.slick-next-servicos {
    right: -60px;
}

.slick-slider-servicos .slick-list a {
    padding-inline: 19px;
    
}

.slick-prev-servicos, .slick-next-servicos {
    position: absolute; 
    top: 50%;     
    z-index: 10 !important; 
}

.slick-slider-servicos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* fim marcação 6 */

/* marcação 7 */
.colNoticias{
    position: relative;   
    padding: 30px;    
}

.Noticias {
    position: relative;
    z-index: 1;
    width: 129px;
    height: 39px;
    flex-grow: 0;    
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #01579b;
    margin-bottom: 5px;
    padding-left: 5px;
}

.Vinheta {
    width: 120px;
    height: 16px;
    background-color: #e1f5fe;
    position: relative;
    top: -15px; 
    left: -1.5px;
    z-index: 0; 
    border-radius: 20px;    
}

/* noticias */

.NoticiasContainer{
    position: relative; 
    text-align: left;
}
.noticiaMaior{
    text-align: left;    
    max-width: 100%;
    max-height: 410px; 
    margin-bottom: 30px;
    border-radius: 24px;
    border: solid 2px whitesmoke;
    box-sizing: border-box;
    position: relative;    
    display: block;
    padding: 0;

    overflow: hidden;
}

.noticiaMaior figure {
    width: 100%; 
}

.noticiaMaior img {
    width: 100%;
    border-radius: 24px;         
    max-height: 410px;    
    height: auto; 
    display: block; 
}

.noticiaMaior:hover img {
    transform: scale(1.01); 
    
}

.noticiaMaior:hover .tituloNoticiaMaior, .noticiaMenor:hover .tituloNoticiaMenor {
    color: #01579b; /* O texto muda de cor ao passar o mouse */
}


.tituloNoticiaMaior:active {
    color: #000000; 
    text-decoration: none;
    transform: scale(1.0);
}


.tituloNoticiaMaior {
    display: block; 
    width: auto;
    margin: 16px 0 0; 
    font-size: 18px;
    font-weight: 600;
    color: #616161;
    text-align: left;
    word-wrap: break-word;   
    padding-left: 10px;
}

/* Adicionando responsividade */
@media (min-width: 768px) {
    
    .noticiaMaior {
        min-height: 250px; 
        height: auto; 
    }
}

@media (min-width: 1400px) {
    .containerNoticiarioMaior .col-md-6 {
        max-width: 50%; 
        flex: 0 0 50%; 
    }
    
    .noticiaMaior {
        min-height: 450px; 
        height: auto; 
    }
}

.data-bg {
    position: absolute;
    max-width: 125px;
    max-height: 28px;
    top: 30px;  
    left: 30px;  
    background-color: #4fc3f7;
    padding: 4px 10px; 
    border-radius: 25px; 
    font-size: 14px;
    font-weight: normal;
    color: #001c33;
    z-index: 1;
}
/* fim marcação 7 */
/* marcação 8 */
.slickerNoticia{
    display: flex;
    overflow: visible;
    border: solid whitesmoke;
    border-radius: 35px;
    margin: 10px;
    
}

.noticiaMenor figure {
    margin: 0; 
    padding: 0; 
    width: 100%;
}

.noticiaMenor img {
    border-radius: 24px;     
    max-height: 410px;    
    height: auto; 
}

.noticiaMenor{
    /* para aparecer o bg-data  */
    position: relative; 
    padding: 10px;
    /* lembrete diario pra deixar de ser burro pq se o pai n alinha, o filho tbm n vai... */
    text-align: left; 
}

.tituloNoticiaMenor{
    position: relative;      
    font-size: 20px;
    text-align: left ; 
    word-wrap: break-word;   
    color: #616161;
}

.tituloNoticiaMenor:hover{
    text-decoration: underline; 
}


.slick-prev-noticias {
    left: -30px;
}

.slick-next-noticias {
    right: -30px;
}

.slick-slider-noticias .slick-list a {
    padding-inline: 19px;
}

.slick-prev-noticias, .slick-next-noticias {
    border: solid whitesmoke;
    border-radius: 50%;
}

.slick-prev-noticias:hover , .slick-next-noticias:hover{
    border-color: rgba(245, 245, 245, 0.952);    
    transform: translateY(-50%) scale(1.1); /* Misteriosamente se nao colocar o translateY, buga :) */
}

/* fim marcação 8 */

/* marcação 9 */

.btnMais {
    max-width: 226px;
    max-height: 48px;
    padding: 14px 40px;
    border-radius: 16px;
    background-color: #ffb300;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #331600;
    display: block; 
    outline: none;
    margin: 32px;
}

.btnMais:hover {
    background-color: #FFC107;
}

.btnMais:active {
    background-color: #FFB300;
    border: none;
    outline: none;
}

.containerGaleria{
    background-color:#01579b;
    border-radius: 25px;
}


.colGaleria{
    position: relative;   
    padding: 30px;    
}

/* TODO: LEMBRETE DE REAPROVITAR ESSA TECNICA USADA NA GALERIA  POIS TEM MAIS 3 VINHETAS NO FUTURO*/
.GaleriaContainer {
    position: relative; /*ESSE BRABO AQUI ME QUEBROU UM GALHO */
    text-align: left; 
    padding-left: 370px;
    padding-top: 45px;
}


.Galeria {
    position: relative;
    z-index: 2;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: white;
    margin-bottom: 5px;
    padding-left: 5px;    
}

.VinhetaGaleria {
    position: relative;
    width: 240px;
    height: 16px;
    background-color: #0277bd;    
    top: -15px; 
    left: 3px;
    z-index: 1; 
    border-radius: 20px;    
}

/* somente galeria */

.containerSlickGaleria {
    width: 100%; /* Ocupar toda a largura da linha */
    
}

.galeriaSlicker-Item {
    position: relative;
    z-index: 0;
    /* width: 100%; 
    height: auto; */
}

.slickerGaleria .galeriaSlicker-Item {
    width: 100%;
    position: relative; /* Para posicionar o título */    
}

.galeriaSlicker-Item img {
    width: 100%; 
    height: auto;
    object-fit: cover;
}

.galeriaSlicker-Item:hover img , .tituloGaleriaSlicker-Item:hover{
    transform: scale(1.02);
    text-decoration: underline;
}

.tituloGaleriaSlicker-Item{
  position: absolute;
  max-width: 550px;
  height: auto;
  flex-grow: 0;
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: white;
  z-index:1;
  /* bottom: 30px;   */
  bottom: 0; /* Posicionar no rodapé da imagem */
  left: 0;
  width: 100%; /* Ocupar toda a largura da imagem */

}


.slick-prev-galeria {
    left: 65px;
}

.slick-next-galeria {
    right: 65px;
}

.slick-slider-galeria .slick-list a {
    padding-inline: 19px;
}

.slick-prev-galeria, .slick-next-galeria {
    border: solid whitesmoke;
    border-radius: 50%;
    transform: translateY(-50%);
}

.slick-prev-galeria:hover , .slick-next-galeria:hover{
    border-color: rgba(245, 245, 245, 0.952);    
    transform: translateY(-50%) scale(1.1); /* Misteriosamente se nao colocar o translateY, buga :) */
}

/* fim marcação 9 */