/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    text-align: center;    
    transition: transform .2s;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: #000000;
}

body {
    padding-left: 15px;
    padding-right: 15px;
}

/* Nav header */
.nav-topo {
    display: flex;
    align-items: center; 
    flex-wrap: wrap;
    background-color: #fff;
    max-width: 100%;
    overflow: hidden;
    margin-bottom: 8px;
    margin-top: 8px;
}

/* Itens da navegação */
.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 166px;
    height: 38px;
    margin: 10px;    
    padding: 0 15px;
    border-radius: 12px;
    border: solid 1px #e0e0e0;
    background-color: #fafafa;
    text-align: center;
    font-size: 14px;
    color: #333;
    white-space: nowrap;
}

.nav-item a {
    text-decoration: none;
    color: inherit;
}

.nav-item:hover {
    background-color: #e0e0e0;
    color: #0056b3;
}

/* Estilização da área de PesquisaSite */
.PesquisaSite {
    display: flex;
    align-items: center;
}

.form-control {
    flex: 1;    
    height: 38px;
    padding: 0 10px;
    border: 1px solid #e0e0e0;
    border-right: none;
    border-radius: 12px 0 0 12px;
    background-color: #fafafa;
}

.form-control::placeholder {
    color: #888;
}

.form-control:focus {
    outline: none;
    border-color: #0277bd;
}

.btn-search {
    height: 38px;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 12px 12px 0;
    border: 1px solid #e0e0e0;
}

.btn-search:hover {
    background-color: #f0f0f0;
    /* Leve mudança de cor ao passar o mouse */
}

.btn-search:active {
    background-color: #e0e0e0;
    transform: scale(0.98);
    /* Simula um clique com leve encolhimento */
}

.btn-search:hover .loupe-icon {
    transform: scale(1.1);
    /* Amplia a lupa ao passar o mouse */
}

.loupe-icon {
    max-width: 16px;
    max-height: 16px;
    display: block;
    margin: auto;
}

/* Efeito hover */
.form-control:hover,
.btn-search:hover {
    background-color: #f0f0f0;
}

/* Ajustes de responsividade para resoluções menores */
@media (max-width: 1145px) {
    .nav-topo {
        justify-content: flex-start;
    }

    .nav-item {
        margin: 5px;
        padding: 0 10px;
        width: 100%;
    }

    .PesquisaSite {
        max-width: 100%;
    }
}

/* Ajustes para resoluções maiores */
@media (min-width: 1145px) {
    .nav-topo {
        justify-content: center;
        padding: 0 20px;
    }

    .nav-item {
        margin: 5px;
        padding: 0 10px;
        width: auto;
    }

    .PesquisaSite {
        flex-grow: 0;
        max-width: 166;
        margin-left: auto;
    }
}

.nav-item:last-child {
    border: none;
    background-color: initial;
    /* remove a bagaceira bugada da ultima coluna */
    margin-left: 0;
}

.nav-item:last-child:hover {
    background-color: initial;
    color: inherit;
    margin-left: 0;
}

.PesquisaSite:hover {
    background-color: transparent;
    color: inherit;
}




/* bobera pra deixar botão PesquisaSiter inato para digitar sem nenhuma sombra interna */

.PesquisaSite:focus-within .form-control,
.PesquisaSite:focus-within .btn-search {
    background-color: #fafafa;
    /* Mantém a cor de fundo original */
    color: #333;
    /* Mantém a cor do texto original */
    border-color: #e0e0e0;
    /* Mantém a cor da borda original */
    box-shadow: none;
    /* Remove qualquer sombra de foco se existir */
}

/* Garante que o hover não ative para o botão enquanto o formulário estiver em foco */
.PesquisaSite:focus-within .btn-search:hover {
    background-color: #fafafa;
    /* Restaura a cor de fundo original */
    color: #333;
    /* Restaura a cor do texto original */
    box-shadow: none;
    /* Remove qualquer sombra de hover se existir */
}

/* Garante que o hover não ative para o campo de input enquanto o formulário estiver em foco */
.PesquisaSite:focus-within .form-control:hover {
    background-color: #fafafa;
    /* Restaura a cor de fundo original */
    color: #333;
    /* Restaura a cor do texto original */
    border-color: #e0e0e0;
    /* Restaura a cor da borda original */
}


/* <<<< -- marcação 1 , acima é o header --- >>>> */






/* <<<<<<<<<< Marcação 2>>>> */

.containerMenu-superior {
      
    background-color: #01579b;
    width: 100%;
    display: flex;
    justify-content: space-between; 
    margin: 0 auto; 
    border-top-left-radius: 15px;    
    border-top-right-radius: 15px;
       
}

.containerMenu-superior > div {
    flex: 0 1 auto; /* Permite que os itens ocupem o espaço necessário */
    min-width: 150px; 
    margin: 0 10px; /* Margens laterais para espaçamento */
}



.containerMenu-superior .rowMenu-superior  {
    margin-top: 16px; 
    text-align: center;   
}

.botaoMenuSuperior, .botaoMenuSuperiorLogo{ 
    display:inline-block; 
    background-color: #fff;
    border-radius: 25px;  
    margin-top: 16px;    
    padding-top: 10px;
    padding-bottom: 10px;    
    min-width: 30px;    
}

.botaoMenuSuperiorLogo{
    margin-right: 20px;
}

.botaoMenuSuperior img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;  
    transition: filter 0.2s ease;  
}


.tituloSuperior{
    display: inline-flexbox;
    color: #000;
    font-weight: bold;
    border-radius: 24px;        
    margin-top: 4px;
    height: 38px;
    font-size: 16px;        
    margin-bottom: auto;     
    margin-top: 10px;
    font-size: 16px;
    
}

.tituloSuperior:hover path img.img-fluid{
    text-align: center;
    margin: auto;
}


/* teste */
.botaoMenuSuperior:hover .tituloSuperior,
.botaoMenuSuperior:active .tituloSuperior, .botaoMenuSuperior:hover path {
    color: #01579B; /* Muda a cor ao passar o mouse ou clicar */
}

/* Efeito hover para a imagem */
.botaoMenuSuperior:hover img,
.botaoMenuSuperior:active img {
    color: #01579B;
    filter: brightness(0) saturate(100%) invert(34%) sepia(87%) saturate(1072%) hue-rotate(186deg) brightness(94%) contrast(100%);
}


.img-fluid {
    mix-blend-mode: normal; /* Mistura a cor de fundo com a imagem */
    transition: mix-blend-mode 0.3s;
}

.botaoMenuSuperior:hover .img-fluid,
.botaoMenuSuperior:active .img-fluid {
    mix-blend-mode: normal; /* Restaura a imagem original ao passar o mouse */
}



.botaoMenuSuperiorLogo {
    margin-left: 0; 
    display: flex;
    justify-content: center;
    align-items: flex-end; 
}

.botaoMenuSuperior {
    display: inline-block; 
    background-color: #fff;
    border-radius: 25px;  
    margin-top: 16px;    
    padding: 10px;    
    min-width: 30px;    
}

/* Responsividade */

@media (min-width: 992px) {
    .containerMenu-superior {
        flex-direction: column; 
        align-items: center; 
        justify-content: flex-start;
    }
}

/* Ajuste específico para o botaoMenuSuperiorLogo */
.botaoMenuSuperiorLogo {
    margin-right: 20px; /* Espaçamento específico para o logo */
    text-align: left; /* Certifica-se de que o texto está alinhado à esquerda */
}



@media (max-width: 768px) {
    .botaoMenuSuperiorLogo {
        
        text-align: left !important;
    }

    .rowMenu-superior {
        flex-direction: column; /* Para telas menores, empilha os botões */
        align-items: start; /* Centraliza os itens verticalmente */
    }
}



/* Fim marcação 2 >>>> */




/* marcação 3 >>>>> SUBMENU  COM DROPDOWN>>>>>>> */



.submenu, .dropdown-menu{
    background-color: #0277bd;
}

.rowSubMenu{
    padding: 14px;
}

.btn-submenu, .dropdown-item{
    text-align: center;
    color: #fff;
}



.btn-submenu:hover{
    background-color: #01579B;
    color: #fff;
}

.dropdown-item:hover {
    background-color: #4671e6;
    color: #fff;
    transform: scale(1.1); 
    border-radius: 3px;
}
    

/* Fim marcação 3 */





/* Final marcação 2 */


