

*{
margin: 0;


transition: transform .2s;
background-color: #fafafa;
}



.Layout---Processo-Seletivo-MPX-Brasil {
    width: 1920px;
    height: 5440px;
    flex-grow: 0;
    flex: auto;
    padding: 0;    
    
}

.Aumentar-fonte {
    width: 91px;
    height: 15px;
    flex-grow: 0;
    font-family: Inter;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}

.Alto-Contraste {
    width: 85px;
    height: 15px;
    flex-grow: 0;
    font-family: Inter;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}

.Mapa-do-Site {
    width: 76px;
    height: 15px;
    flex-grow: 0;
    font-family: Inter;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}

.Fonte-para-dislexia {
    width: 109px;
    height: 15px;
    flex-grow: 0;
    font-family: Inter;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}

.Entenda-a-Acessibilidade {
    width: 146px;
    height: 15px;
    flex-grow: 0;
    font-family: Inter;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}

.CaminhoPesquisa {
    width: 142px;
    height: 16px;
    flex-grow: 0;
}

.Pesquise-no-Site {
    width: 110px;
    height: 16px;
    flex-grow: 0;
    margin: 0 20px 0 0;
    font-family: Inter;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}

  

.Caminho-2{
    width: 12px;
    height: 12px;
    flex-grow: 0;
    margin: 2px 0 2px 20px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Search, .search-icon{
    width: 12px;
    height: 12px;
    flex-grow: 0;
    margin: auto  
}

/* Ajusta a estrutura do formulário e botão */
.form-inline {
    display: flex;
    align-items: center;
}

.form-control {
    width: auto;
    flex-grow: 1;
}

button.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
} */

.nav-acessibilidade .nav-item .input {
    height: auto;
    max-height: 38px;
    padding: 10px;
    padding-right: 5px;
    background-color: transparent;
    border: none;
    font-size: .75rem;
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

.azulPadrao{
    color: #01579b;
}

/* .Vitrine {
    width: 1890px;
    height: 485px;
    flex-grow: 0;
    margin: 173px 0 0;
    padding: 48px 0 30px 64px;
} */

.Btn-Dir {
    width: 48px;
    height: 48px;
    flex-grow: 0;
    margin: 123px 16px 176px 749px;
    object-fit: contain;
    transform: rotate(-90deg);
}

.Btn-Esq {
    width: 48px;
    height: 48px;
    flex-grow: 0;
    object-fit: contain;
    transform: rotate(90deg);
}

.custom-btn-icon {
    width: 50px; /* Largura do botão */
    height: 50px; /* Altura do botão */
}
  
.carousel-control-prev, .carousel-control-next {
    background-color: transparent; /* Remove o fundo */
    border: none; /* Remove bordas */
}
  
  
  
 

